<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emerycprimeau.gameq">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".GUI.AddGame" android:label="@string/addGame"></activity>
        <activity
            android:name=".GUI.EditGame"
            android:label="Edit a game" />
        <activity
            android:name=".GUI.completed.Completed"
            android:label="@string/Completed" />
        <activity
            android:name=".GUI.toComplete.toComplete"
            android:label="@string/toComplete" />
        <activity
            android:name=".GUI.connexion.Inscription"
            android:theme="@style/AppThemeLogIn" />
        <activity
            android:name=".GUI.connexion.LogIn"
            android:theme="@style/AppThemeLogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>